<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sellout</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
    <style>
    h1 {
    	font-family: Lobster;
    	font-size: 50px;
    	font-style: normal;
    	font-variant: normal;
    	font-weight: 500;
    	line-height: 26.4px;
    }

    h2 {
    	font-family: Lobster;
    	font-size: 25px;
    	font-style: normal;
    	font-variant: normal;
    	font-weight: 500;
    	line-height: 26.4px;
    }

    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
        background: #222;
        background:rgba(255,255,255,0.5);  /* grey with opacity */
        color: #000;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 1.25em;
        border-radius: 10px;
        padding: 10px 10px;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
    }

    .logo{
      display: flex;
      justify-content:center;
      align-items:center;
    }

    .box {
      display: inline-block;
      /*width: 300px;*/
      height: 300px;
      margin: 1em;
      overflow: hidden;
      background-color: 818181;
    }

    .image_responsive {
      display: block;
      height: 90%;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
    }

    #link {
      font-family: Lobster;
      text-align: center;
    }

    .alert {
      color: rgba(100,200,115, 1);
      text-shadow: 2px 2px black;
    }

    </style>
  </head>
  <body>

    <section id="logo" class="logo">
    <%=image_tag "sellout_logo.png" %>
    </section>


    <section id="content" class="flex-container">
      <% if current_user == @user && @user.pending_transactions.size > 0 %>
        <h2 class='alert'>You've got Bids!</h2>
        <% @user.arts.each do |art| %>
          <% if art.transactions.last.present? %>
        <p>
          <%= link_to "#{art.transactions.last.user.username} bid $#{art.price} on #{art.title}", art_transaction_path(art.transactions.last) %>
        </p>
        <% end %>
        <% end %>

      <% end %>

      <ul>
      <h1><%= @user.username %></h1><br>
      <image class="image_responsive" src="<%= @user.picture_url %>" if @user.picture.present? %>
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <p>Selling Out from: <%= @user.location %></p>
      <p>About Me: <%= @user.bio %></p>

      <p id="link"><strong><%= link_to "SellOut a New Piece!", new_art_path %></strong></p>
      <h2 class="text-center"><%= image_tag asset_path 'artforbid.png' %></h2>

           <% @user.arts.each do |art| %>
              <div class="box">
                <image class="image_responsive" src="<%= art.picture_url %>">
                    <div class="box2">
                        <%= link_to art.title, art_path(art) %>
                        <strong><%= art.price %></strong>
                    </div>
            </div>
          <% end %>
        </div>

      <!-- <h2><%= "Your " if current_user == @user %>Arts</h2><br>
      <% @user.arts.each do |art| %>
      <p> <%= link_to art.title, art_path(art) %><br>
      </p>
      <% end %>

    </ul>
    </section>
  </body>
</html> -->
