<h1><%= @user.username %></h1>

<h2>AKA <%= @user.first_name %> <%= @user.last_name %></h2>
<p>Selling Out from: <%= @user.location %></p>
<h3>About Me</h3>
<p><%= @user.bio %></p>


<h2><%= "Your " if current_user == @user %>Arts</h2>
<% @user.arts.each do |art| %>
  <p>
    <%= link_to art.title, art_path(art) %>
  </p>
<% end %>
